<template name="pageNav">
	<div class="ui container page-nav">
		<div class="ui grid secondary menu">
			<a class="logo" href="/">
				<img src="/images/logo.jpg" alt="official logo">
			</a>
			
			{{#if isAdmin}}
				{{> adminMenu}}
			{{/if}}
			
			{{#if isStudent}}
				{{> studentMenu}}
			{{/if}}
			
			{{#if isTeacher}}
				{{> teacherMenu}}
			{{/if}}

	        {{#if currentUser}}
	        <div class="right item">
	        	{{> avatar user=currentUser shape="circle" size="menu" class="item"}}
	        	<a href="#" class="ui button" data-action="logout">
	        		Sign Out
	        	</a>
	        </div>
	        {{else}}
	        <div class="right item">
	        	<a 
	        		href="{{ pathFor 'atSignIn' }}" 
	        		class="ui button">
	        		Log in
	        	</a>
	        	<a 
	        		href="{{ pathFor 'atSignUp' }}" 
	        		class="ui button">
	        		Sign Up
	        	</a>
	        </div>
	        {{/if}}
			<a class="toc right item">
				<i class="sidebar icon"></i>
			</a>
		</div>
	</div>
</template>

<template name="adminMenu">
	<a 
		href="{{pathFor route='admin.courses.list'}}" 
		class="item {{ isActiveRoute regex='admin.courses.list' }}">
		Courses
	</a>
	<a 
		href="{{pathFor route='admin.members.list'}}" 
		class="item {{ isActiveRoute regex='admin.members.list' }}">
		Members
	</a>
	<a 
		href="{{pathFor route='admin.users.list'}}" 
		class="item {{ isActiveRoute regex='admin.users.list' }}">
		Users
	</a>
</template>

<template name="studentMenu">
	<a 
		href="{{pathFor route='student.courses.list'}}" 
		class="item {{ isActiveRoute regex='student.courses.list' }}">
		Courses
	</a>
</template>

<template name="teacherMenu">
	<a 
		href="{{pathFor route='teacher.courses.list'}}" 
		class="item {{ isActiveRoute regex='teacher.courses.list' }}">
		Courses
	</a>
</template>