<template name="staticHeader">
	<div class="ui large top fixed hidden menu">
		<div class="ui container">
			<a 
				class="{{ isActiveRoute regex='home' }} item"
				href="{{pathFor route='home'}}">
			Home</a>

			{{#if currentUser}}
			
			{{#if isAdmin}}
				{{> adminMenu}}
			{{/if}}
			
			{{#if isStudent}}
				{{> studentMenu}}
			{{/if}}
			
			{{#if isTeacher}}
				{{> teacherMenu}}
			{{/if}}
			<div class="right item">
				<a href="#" class="ui button" data-action="logout">
					Sign Out
				</a>
			</div>
			
			{{else}}
			<div class="right menu">
				<div class="item">
					<a href="{{ pathFor 'atSignIn' }}" class="ui button">Log in</a>
				</div>
				<div class="item">
					<a href="{{ pathFor 'atSignUp' }}" class="ui primary button">Sign Up</a>
				</div>
			</div>
			{{/if}}
		</div>
	</div>


	<!-- Sidebar Menu -->
	<div class="ui vertical inverted right sidebar menu">
		<a 
			class="{{ isActiveRoute regex='home' }} item"
			href="{{ pathFor route='home' }}">
			Home
		</a>
			
		
		{{#if currentUser}}
		{{#if isAdmin}}
			{{> adminMenu}}
		{{/if}}
		
		{{#if isStudent}}
			{{> studentMenu}}
		{{/if}}
		
		{{#if isTeacher}}
			{{> teacherMenu}}
		{{/if}}
		<a href="#" class="item" data-action="logout">
		Sign Out
		</a>
		{{else}}
		<a href="{{ pathFor 'atSignIn' }}" class="item">Login</a>
		<a href="{{ pathFor 'atSignUp' }}" class="item">Signup</a>
		{{/if}}
	</div>
</template>