@import "./variables.import.less";

.hidden.menu {
	display: none;
}

.logo {
	img {
		max-width: 80px;
	}
}

.footer.segment {
	margin-top: 25px;
	padding: 5em 0em;
}

.ui.secondary.menu {
	.toc.item {
		display: none;
	}
	.right.item .button {
		margin-left: 0.5em;
	}
}

@media @mobile {
	.ui {
		&.fixed.menu {
			display: none;
		}
		&.secondary.menu .item,
		&.secondary.menu .right.item,
		&.secondary.menu .menu {
			display: none;
		}
		&.secondary.menu .toc.item {
			display: block;
		}
	}
}

.page-nav {
	background: @header_color;
}

.static {
	.ui.inverted.masthead.segment {
		height: 93vh;
		padding: 1em 0em;
		// background-image: url('images/panel.jpg');
		background: @header_color;
		// background-size: cover;

		.logo.item img {
			margin-right: 1em;
		}
		.ui.menu .ui.button {
			margin-left: 0.5em;
		}
		h1.ui.header {
			margin-top: 3em;
			margin-bottom: 0em;
			font-size: 4em;
			font-weight: bold;

			@media @mobile {
				font-size: 2em;
				margin-top: 2.5em;
			}
		}
		h2 {
			font-size: 1.7em;
			font-weight: normal;

			@media @mobile {
				font-size: 1.3em;
			}
		}

		.down-scroller {
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: center;

			.icon {
				cursor: pointer;
			}
		}
	}

	.colored-section {
		padding: 50px 1em;

		.ui.header {
			color: #FFFFFF !important;
		}

		.ui.card {
			box-shadow: none !important;
		}
	}

	.courses-sample {
		background-color: #D23C51;
	}

	.members-sample {
		background-color: #3B6F50;
	}
}

.section {
	&.board-members {
		.ui.header {
			font-size: 3rem;
			margin: 15px 0 25px;
		}
	}
}

.ui.menu.pagination {
	padding-left: 0;
}

.ui.image.label {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.page-content.app,
.at-grid.ui.middle.aligned.centered.grid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.ui.header.courses-list-header {
	margin-top: 20px;
	margin-bottom: 20px;
}