<template name="adminCoursesEdit">
	<div class="ui grid">
		<div class="eight wide column">
			<h1>Edit Course: </h1>
		</div>
		<div class="eight wide right aligned column">
			<a 
				href="{{pathFor route='admin.classes.create'}}"
				class="ui green button right">
				Create Class
			</a>
			<a 
				href="{{pathFor route='admin.lectures.create'}}"
				class="ui green button right">
				Add Lecture
			</a>
		</div>
	</div>
	{{> quickForm id="editCourses" type="update" collection="App.Courses.collection" doc=course }}
</template>