<template name="coursesList">
	<div class="ui centered stackable grid section board-members">
		{{#each courses}}
			<div class="four wide column">
				<div class="ui fluid card">
					<div class="image">
						<img src="{{ photo }}">
					</div>
					<div class="content">
						<div class="header">{{ name }}</div>
						<div class="meta">
							<a>{{ section }}</a>
						</div>
						<div class="description">
							<div class="ui image label">
								<img src="{{ klass.photo }}">
								{{ klass.name }}
							</div>
						</div>
					</div>
					{{#if isAdmin}}
						<div class="extra content">
							<div class="ui two buttons">
								<a 
									class="ui basic green button"
									href="{{ pathFor route='admin.courses.edit' data=this }}">
									Edit</a>
								<button class="ui basic red button remove">
								Remove</button>
							</div>
						</div>
					{{/if}}

					{{#if isStudent}}
							

						<div class="extra content">
							{{#if isChosenCourse}}
								<button class="fluid ui red button unselect">
									<i class="icon remove circle"></i>
									Disenroll
								</button>
							{{else}}
								<button class="fluid ui basic green button select">
									<i class="icon check circle"></i>
									Enroll
								</button>
							{{/if}}
						</div>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</template>