<template name="home">
	<div class="template-home">
		<div class="page-header">
			<h3 class="text-center">What are you most interested in?</h3>
		</div>
		
		<div class="col-md-6 col-md-offset-3">

			{{#if hasSelected currentUser 'interest'}}
			{{#if hasSelected currentUser 'school'}}
			{{#if hasSelected currentUser 'class'}}
			{{else}}
			<!-- Class Selector -->
			<div class="class-selector">
				<button 
					class="btn btn-block btn-info btn-lg">
					class 6
				</button>
				<button 
					class="btn btn-block btn-info btn-lg">
					class 7
				</button>
				<button 
					class="btn btn-block btn-info btn-lg">
					class 8
				</button>
				<button 
					class="btn btn-block btn-info btn-lg">
					class 9
				</button>
				<button 
					class="btn btn-block btn-info btn-lg">
					class 10
				</button>
			</div>
			{{/if}}
	
			{{else}}
			<!-- School Selector -->
			<div class="school-selector">
				<button 
					class="btn btn-block btn-info btn-lg">
					School of Art
				</button>
				
				<button 
					class="btn btn-block btn-info btn-lg">
					School of Literature
				</button>
				
				<button 
					class="btn btn-block btn-info btn-lg">
					School of ICT
				</button>
				
				<button 
					class="btn btn-block btn-info btn-lg">
					School of Language
				</button>
				
				<button 
					class="btn btn-block btn-info btn-lg">
					School of Camera & Photography
				</button>
			</div>
			{{/if}}
			
			{{else}}
			<!-- Interest Selector -->
			<div class="interest-selector">
				<button 
					class="btn btn-block btn-info btn-lg">
					Co-Curriculum Education
				</button>
				
				<button 
					class="btn btn-block btn-warning btn-lg">
					Curriculum Education
				</button>
			</div>
			{{/if}}
			
		</div>
	</div>
</template>
