<template name="home">
	<!-- Page Contents -->
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui text container">
			<h1 class="ui inverted header">
				Sashwato Bidyangon
			</h1>
			<h2>Let Us Be Self-Educated.</h2>
			<div class="ui huge violet button">
				Learn Something New 
				<i class="right arrow icon"></i>
			</div>
		</div>
		
		<div class="down-scroller">
			<i class="massive chevron circle down teal icon"></i>
		</div>
	</div>

	<div class="colored-section courses-sample">
		<h1 class="ui centered header">Take Look at Our Latest Courses</h1>
		{{> coursesList}}
	</div>
	

	<div class="colored-section members-sample">
		{{> membersList}}
	</div>

</template>